@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@reference "tailwindcss";

/* Tailwind base layers */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0f0f0f;
  --accent: #ff7b00;
}

body {
  @apply bg-[var(--bg)] text-white font-[Poppins] antialiased;
}
